<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cooking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
  </head>
  
  <body>
    <div class="nav-bar">
      <a href="{{ url_for('index') }}">
        <div class="cyber-chef-bar">
          <img class="logo" src="static/photos/food-logo.png" alt="cyber chef logo"/>
          <p class="logo-title">CYBER CHEF</p>
        </div>
      </a>
      <nav>
        <ul class="side-bar">
          <li><a href="#about">ABOUT</a></li>
          <li><a href="{{ url_for('hacks')}}">HACKS</a></li>
          <li><a href="{{ url_for('cooking')}}">RECIPES</a></li>
          <li><a href="{{ url_for('signup') }}">SIGN IN</a></li>
        </ul>
      </nav>
    </div>

    <div class="entire-form">
    <h1>Sign up</h1>
    <p>Passwords must be 6 characters or more, contain an upper case letter, and contain a lower case letter.</p>
    <div class="form-body">
      <form action="/form" method="POST">
          <input class="form-button" type="text" name="fname" placeholder="First Name" required> <br>
          <input class="form-button" type="text" name="lname" placeholder="Last Name" required> <br>
          <input class="form-button" type="email" name="email" placeholder="Email Address" required> <br>
          <input class="form-button" type="password" name="password" placeholder="Password" required> <br>
          <input class="form-button" type="submit" value="Submit" id="submit-button">
        </form>
    </div>
        {% if message %}
            <p style="color: red;">{{ message }}</p>
        {% endif %}
    </div>

    <footer>
      <p class="footer-author">Creation by Sophia Nguyen</p>
      <p class="footer-paragraph">Cyber Chef Created for CLC x RBC</p>
    </footer>
    
  </body>
  
</html>
